.page {
  padding: 1rem;
}

.searchHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

@media (max-width: 600px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sortContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.sortDropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #f05e23;
  background-color: #000000;
  color: #f05e23;
}

.sortDropdown:focus {
  outline-color: #f05e23;
}

.sortDropdown option:hover {
  background-color: #f05e23;
  color: #ffffff;
}

