.page {
  padding: 1rem;
}

.searchHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.sortContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.sortDropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

