/* ProductCard.module.css */

.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.1rem;
  background-color: #000000;
  border-radius: 1px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #000000;
}

.productCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 2px rgba(240, 94, 35, 0.1);
  border-color: #f05e23;
}

.productCard:focus {
  outline: none;
  border-color: #f05e23;
  box-shadow: 0 0 0 2px rgba(240, 94, 35, 0.2);
}

.productCard:active {
  transform: translateY(0);
}

/* Styles for the arrow button container */
.arrowButtonContainer {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Important: Allows clicks to pass through to the card */
}

/* Styles for the arrow buttons */
.arrowButton {
  background: none;
  border: none;
  padding: 10px; /* Adjust as needed */
  cursor: pointer;
  border-radius: 50%; /* Circular buttons */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  margin: 0 10px; /* Add margin to separate from card edges */
  pointer-events: auto; /* Important: Allows clicking on the buttons */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover transition */
}

.arrowButton:hover {
  transform: translateY(-1px); /* Slightly raise on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

.arrowButton:focus {
  outline: none;
  /* Add a focus style here, e.g., different box-shadow or background color */
}
