.reviewsArea {
  margin-top: 1rem;
}

.reviewsBlk {
  transition: transform 0.3s ease;
  background-color: #3D261B;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.reviewsBlk:hover {
  transform: scale(1.05);
}

.reviewsHeading h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #f05e23;
}

.reviewsText h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.reviewsText ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.reviewsText li {
  margin-right: 0.25rem;
}

.checked {
  color: #f05e23;
}

.unchecked {
  color: #666;
}

.details {
  text-decoration: none;
  color: inherit;
}